.grid-container {
    gap: 0.5em;
    background-color: rgb(0, 0, 0);
    margin:5em;
    grid-template-rows: 10vw 5vw 15vw 3vw;
    grid-template-columns: auto;
    background-size: cover;
    /*width: 100vw;
    height: 100vh;*/
    display: grid;
    flex-direction: column;
}

.grid-item {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    text-align: center;
    padding: 1vw;
    font-size: 1vw;
}
.itemGenderButtons{
    grid-column: 1 / span 3;
    grid-row: 3;
}
.itemCharacterLeft {
    grid-column: 1;
    grid-row: 1/span 4;
}

.itemCharacterRight {
    grid-column: 3;
    grid-row: 1 / span 4;
}

.itemText {
    display: none;
    grid-column: 1 / span 3;
    grid-row: 3;
    background: rgba(0, 0, 0, 0.68);
    color: #fff;
    text-align: left;
    font-size: 0.8vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}
.itemButtons{
    grid-row: 4;
    grid-column: 1 / span 3;
    background-color: rgb(96, 84, 94);
    padding: 0;

}
.itemEnterName{
    grid-row: 1;
    grid-column: 1/span 3;
}
.itemName{
    display: none;
    background: rgba(0, 0, 0, 0.68);
    color: rgb(210, 245, 237);
    font-size: 1vw;
}
.btn-group button {
    font-size: 1vw;
    background-color: rgb(96, 84, 94);
    color: rgb(204, 232, 225);
    border: none;
    cursor: pointer;
    padding: 1em;
    float: left;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table-row;
}

.btn-group button:hover {
    background-color: rgb(74, 15, 57);

}
.reset-style, .reset-style * {
    all: revert;
}
/*
    img styling for the characters
 */
#imgLeftChar{
    display: none;
    width: 22vw;
    height: 33vw;
    text-align: center;
}
#imgRightChar{
    display: none;
    width: 22vw;
    height: 33vw;
}

.btnStyle{
    /*
    max-width: 100%;
    max-height: 100%;
    word-wrap: break-word;
     */
    text-align: center;
    display: inline-block;
    background-color: rgb(96, 84, 94);
    font-family: Candara, fantasy;
    color: rgb(210, 245, 237);
    width: 15vw;
    height: 5vw;
    font-size: 2vw;
    /*margin-left: 2em;*/
    border-radius: 0.7vw;
}
#txtGender{
    color: rgb(210, 245, 237);
    font-size: 2vw;
}
#lblName{
    font-size: 2vw;
}
#txtEnterName{
    color: rgb(210, 245, 237);
    font-size: 2vw;
}
#btnOpt1{
    margin-right: 5vw;
    margin-left: 5vw;
    display: none;
}
#btnOpt2{
    margin-right: 5vw;
    margin-left: 5vw;
    display: none;
}
#btnBackToGamesPage{
    display: none;
}