.gameContainer{
    gap: 3px;
    display: grid;
    padding: 5px;
    margin: 3em;
    background-image: url("./img/backgrounds/baum.png");
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.itemCharacterOnTheLeft {
    grid-column: 1;
    grid-row: 1 / span 4;
}

.itemCharacterOnTheRight {
    grid-column: 3;
    grid-row: 1 / span 4;
}

.itemTextBox {
    grid-column: 1 / span 3;
    grid-row: 3;
}
.item6{
    grid-column: 1 / span 3;
    grid-row: 4;
}

#imgLeftChar{
    width: 12em;

}
#imgRightChar{
    width: 12em;
}
.navigationBarGame {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 97, 97);
    font-size: 17px;
}
li button{
    display: block;
    color: rgb(204, 232, 225);
    text-align: center;
    padding: 25px;
}