.grid-container {
    display: grid;
    gap: 3px;
    background-color: #2196F3;
    margin:5em;
    grid-template-rows: 10em 5em 15em 3em;
    grid-template-columns: auto;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.itemCharacterLeft {
    grid-column: 1;
    grid-row: 1/span 4;
}

.itemCharacterRight {
    grid-column: 3;
    grid-row: 1 / span 4;
}

.itemText {
    grid-column: 1 / span 3;
    grid-row: 3;
}
.itemButtons{
    grid-row: 4;
    grid-column: 1 / span 3;
    background-color: rgb(96, 84, 94);
    padding: 0;

}
.btn-group button {
    font-size: 0.5em;
    background-color: rgb(96, 84, 94);
    color: rgb(204, 232, 225);
    border: none;
    cursor: pointer;
    padding: 1em;
    float: left;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:hover {
    background-color: rgb(74, 15, 57);

}
.reset-style, .reset-style * {
    all: revert;
}
/*
    img styling for the characters
 */
#imgLeftChar{
    width: 12em;
}
#imgRightChar{
    width: 12em;
}